<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.zettamine.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <display-name>zettamine application</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>test</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zettamine.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form1Servlet</display-name>
    <servlet-name>Form1Servlet</servlet-name>
    <servlet-class>com.zettamine.web.Form1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form1Servlet</servlet-name>
    <url-pattern>/form1</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ZettamineFilter</display-name>
    <filter-name>ZettamineFilter</filter-name>
    <filter-class>com.zettamine.web.ZettamineFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ZettamineFilter</filter-name>
    <url-pattern>/welcome</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.zettamine.web.CounterListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>CounterServlet</display-name>
    <servlet-name>CounterServlet</servlet-name>
    <servlet-class>com.zettamine.web.CounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServlet</servlet-name>
    <url-pattern>/visitor</url-pattern>
  </servlet-mapping>
</web-app>